{% extends 'basic/dashboard.html' %}

{% block content %}
{% load static %}  


<html>
    <head>
        <title>Events Information</title>
        <style>
            h5{
                text-align: center;
            }
            .btn-sm{
            width: 70px;
        }
        tr{
            text-align: center;
        }
        th,td,table{
                border:1px solid #000000;
            }
        </style>
    </head>
    <body style="background-color: darkgray;">
        <div class="row mx-5 my-5">
            <div class="col-md mx-3">
                <div class="card card-body" style="border: 1px solid black">
                    <h5>Add new event here</h5>
                    <hr>
                    <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'createevent' %}" style="color:white;background-color:rgba(0, 0, 255, 0.692); margin-top: 14px; font-weight: 700 ; height: 35px;">Create Event</a>
            
                    <div>
                        <h6></h6>
                    </div>
                </div>
            </div>
        
            <div class="col-md">
                <div class="card card-body" style="border: 1px solid black">
                    <h5>Number of upcoming events </h5>
                    <hr>
                    <h4 style="text-align: center;padding: 10px">{{upcomming}}</h4>
                   
                </div>
            </div>
            
            <div class="col-md">
                <div class="card card-body" style="border: 1px solid black">
                    <h5>Number of events completed</h5>
                    <hr>
                    <h4 style="text-align: center;padding: 10px">{{complete}}</h4>
                  
                </div>
            </div>
            
        </div>
        
        
        
        <div class="row">
            <div class="col-md mx-5 my-5">
                <div class="card card-body" style="border:2px solid black;margin-left: 20px;margin-right: 20px;">
                    <table class="table">
                        <h3 style="text-align: center; font-style: italic;">Upcoming Events</h3>
                        <tr style="background-color:#43484d; color: white;">
                            <th>EVENTS ID</th>
                            <th>ORGANIZER</th>
                            <th>TAG</th>
                            <th>EVENT DATE & TIME</th>
                            <th>EVENT PURPOSE</th>
                            <th>EDIT DETAILS</th>
                        </tr>
                       
                        {% for i in form  %}
                        {% if i.option2 %}
                         <tr>
                            <th>{{i.event_id}}</th>
                            <th>{{i.organizer}}</th>
                            <th>{{i.tag}}</th>
                            <th>{{i.event_date_time}}</th>
                            <th>{{i.event_purpose}}</th>
                            <th>
                                <a class="btn btn-sm btn-info"href="{% url  'updateevent' i.event_id  %}">Update</a>
                                <a class="btn btn-sm btn-danger"href="{% url  'deleteevent' i.event_id  %}">Delete</a>
                            </th>
                        </tr>
                        {% endif  %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>  
        
        
        <div class="row">
            <div class="col-md mx-5 my-5">
                <div class="card card-body"  style="border:2px solid black;margin-left: 20px;margin-right: 20px;">
                    <table class="table">
                        <h3 style="text-align: center; font-style: italic;">Completed Events</h3>
                        <tr style="background-color:#43484d; color: white;">
                            <th>EVENT ID</th>
                            <th>ORGANIZER</th>
                            <th>TAG</th>
                            <th>EVENT TIME & DATE</th>
                            <th>EVENT PURPOSE</th>
                            <th>EDIT DETAILS</th>
                        </tr>
                       
                        {% for i in form  %}
                        {% if i.option1 %}
                         <tr>
                            <th>{{i.event_id}}</th>
                            <th>{{i.organizer}}</th>
                            <th>{{i.tag}}</th>
                            <th>{{i.event_date_time}}</th>
                            <th>{{i.event_purpose}}</th>
                            <th>
                                <a class="btn btn-sm btn-info"href="{% url  'updateevent' i.event_id  %}">update</a>
                                <a class="btn btn-sm btn-danger"href="{% url  'deleteevent' i.event_id  %}">Delete</a>
                            </th>
                            <th></th>
                        </tr>
                        {% endif  %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>  
        
    </body>
</html>




{% endblock %}