
<!DOCTYPE html>
<html>
<body bgcolor="gray" style="text-align: center;margin-top:15%;">
<div style="margin: auto;">
    <h2>Password reset mail sent</h2>


<p style="font-size: large;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p style="font-size: large;">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
<a href="/logout">Back to home</a>
</div>
</body>
</html>