<!DOCTYPE html>
<html>
	<head>
		<title>	</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			.jumbotron{
				width: 60%;
				margin: 50px auto;
			}
			input{
				margin-left: 40px;
				width: 300px;
			}
		</style>
	</head>
	<body style="background-color: darkgray;">
		<div class="jumbotron">
			<p class="display-4">Password reset</p>

			<p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
			<hr class="my-4">
			
			<h4 class="lead" style="padding-left: 230px;">
				<form method="post">
					{% csrf_token %}
					{{form}}
					<br>
					<button class="btn btn-primary btn-lg" type="Submit" name="Send email" style="margin-top: 25px;">Sumbit</button>
				</form>
			</h4>
		</div>
	</body>
</html>

<!-- <div class="jumbotron">
	<h1 class="display-4">Hello, world!</h1>
	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</p>
  </div> -->